* {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

html {
    font-size: 22px;
}

/*header*/
header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    background-color: black;
    z-index: 1;
    position: fixed;
}

header a {
    margin: 10px;
}

.logo {
    height: 50px;
    margin: 10px;
    float: left;
}

.markers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*main body*/
main {
    position: relative;
    top: 70px;
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    flex-shrink: 2;
    margin-bottom: 3.5rem;
}
/*Mission section*/
.banner {
    background-image: url('./Resources/mission-background.jpg');
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
}

.mission {
    background-color: black;
    width: 1200px;
}

.mission h2,
.mission h4 {
    margin: 15px;
}

/*Tea of the month section*/
#featured {
    width: 1000px;
}

.teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.item {
    width:300px;
    height:200px;
    margin: 10px;
}

/*Locations*/
/*#city {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    background-color: black;
    opacity: 1;
    margin: 15px 20px;
    width: 300px;
}*/

#locations {
    background-image: url('./Resources/locations-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 1200px;
}

#locations h2 {
    background-color: hidden;
}

.address {
    width: 300px;
    margin: 15px 20px;
    padding: 1rem 0;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
}

/*footer*/
footer {
    position: relative;
    top: 70px;
    margin-top: 2rem;
}

footer h2,
footer h5 {
    margin: 2rem;
}

.copyright {
   text-align: left;
   position: relative;
   left: 20px;
}